# OpenAI API Key
OPENAI_API_KEY=

# Gemini API Key
GEMINI_API_KEY=

# Mastodon Configuration
MASTODON_ACCESS_TOKEN=
MASTODON_API_BASE_URL=https://mastodon.social

# Instagram Configuration
INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=
